.best-good {
  position: relative;
  @extend %p30px;
  @extend %flex-col;
  margin-bottom: 60px;
  
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 5px;
    bottom: -35px;
    left: 0;
    right: 0;
    background-image: url(img/zigzag.svg);
    background-position: center;
    background-repeat: no-repeat-y;
  }
}

.best-good__container-heading,
.best-good__container-characteristic {@extend %flex-col;}

.best-good__name {
  order: -1; 
  margin-bottom: -5px;
}

.best-good__heading {color: $bs-c;}

.best-good__description {
  @extend %m0p0;
  @extend %s-t-c;
  line-height: 24px;
  @extend %mb30px;
}

.best-good__feature {
  border-collapse: collapse;
  @extend %mb30px;
}

.best-good__cell {
  @extend %m0p0;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #ececec;
  padding: 15px 0;
}

.best-good__price {
  @extend %flex-cntr;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin: 15px 0;
}

@media screen and (min-width: 768px) {
  .best-good {
    margin-bottom: 90px;

    &::after {
      height: 16px;
      bottom: -50px;
      background-image: url(img/zigzag-big.svg);
    }
  }
  .best-good__container-heading {
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .best-good__heading {
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    margin-bottom: 0;
  }
  .best-good__container-characteristic {
    position: relative;
    min-height: 405px;
  }
  .best-good__image {
    position: absolute;
    right: 0;
    width: 334px;
    height: auto;
  }
  
  .best-good--left-col {width: 295px;}

  .best-good__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  
  .best-good__cell {padding-bottom: 10px;} 
  .best-good__price {font-size: 20px;}
  .best-good__btn {margin-top: auto;}
}

@media screen and (min-width: 1250px) {
  .best-good {
    justify-content: space-between;
    min-height: 635px;
    padding-left: 275px;
    padding-right: 100px;
    margin-bottom: 150px;
  }
  .best-good::after {
    height: 24px;
    left: 100px;
    right: 100px;
    bottom: -90px;
    background-image: url(img/zigzag-big.svg);
  }
  .best-good__container-heading {
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: -150px;
  }
  .best-good__container-characteristic {
    min-height: 480px;
    justify-content: space-between;
  }
  
  .best-good__name {order: 1;}
  .best-good__description {margin-bottom: 50px;}

  .best-good__price {
    margin-bottom: 0; 
    margin-top: auto;
  }
  .best-good__btn {
    margin-top: 30px; 
    margin-bottom: 0;
  }

  .best-good__heading {margin-right: 50px;}

  .best-good__image {
    width: 524px;
    top: 0;
    right: 100px;
    z-index: -1;
  }
}