//////////////////////////////////////////////////////////////////
//                            Каталог                           //
//////////////////////////////////////////////////////////////////

.catalog {
  @extend %flex-col;
  @extend %p30px;
}

.inner__heading {
  position: relative;
  @extend %flex-cntr;
  @extend %mb30px;
  z-index: -1;
  min-height: 180px;
  background-color: #f1f1f1;
}

.catalog__row {
  @extend %mb30px;
  min-height: 375px;
}

.good {
  @extend %flex-col;

  &:hover &__description,
  &:focus &__description {
    box-shadow: 0 3px 7px -4px black;
    transition: ease 0.3s;
  }
  &:active &__description {
    box-shadow: 0 3px 5px -5px black;
    transition: ease 0.3s;
  }

  &:hover &__name,
  &:focus &__name {
    opacity: 0.6;
    transition: ease 0.3s;
  }
  &:active &__name {
    opacity: 0.3;
    transition: ease 0.3s;
  }
}

.good__description {
  @extend %flex-col;
  padding: 27px;
  padding-bottom: 0;
  border: 1px solid #ececec;
}

.good__name {
  @extend %m0p0;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 15px;
}

.good__characteristic {
  @extend %s-t-c;
  font-size: 13px;
  margin-bottom: 25px;
}

.good__btn {
  position: relative;
  min-height: 75px;

  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    display: block;
    margin-top: 0;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
  }
  
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(img/icons/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.work-process {
  @extend %flex-col;
  @extend %mb30px;
  padding: 30px;
  border: 1px solid #ececec;
}

.work-process__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 24px;

  &::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 42px;
    height: 46px;
    background-image:url(img/icons/video.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25px;
  }
}

.work-process__video {margin: 0 -30px 30px;}

.work-process__description {
  @extend %m0p0;
  @extend %s-t-c;
  @extend %mb30px;
  font-size: 13px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .inner__heading {
    min-height: 230px; 
    margin-top: -80px;
    
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 22px;
      background-image: url(img/zigzag-descktop.svg);
    }
  }

  .good {flex-direction: row;}
  .good img {width: 335px; height: 335px;}
  
  .good__description {
    flex-grow: 1;
    @extend %flex-col;
    justify-content: space-between;
  }

  .good__characteristic {margin-bottom: auto;}
  
  .work-process {
    padding: 45px; 
    padding-top: 0; 
    margin-bottom: 60px;
  }
  .work-process__video {
    order: -1; 
    margin: 0 -45px 30px;
  }
  .work-process__heading {font-size: 20px;}
  .work-process__description {
    font-size: 15px; 
    line-height: 30px;
  }
}

@media screen and (min-width: 1250px) {
  .catalog {
    flex-direction: row; 
    flex-wrap: wrap; 
    padding: 0 100px;
    justify-content: space-between;
  }

  .good__btn {margin-top: 40px;}

  .work-process {
    position: relative; 
    min-height: 485px; 
    padding-left: 763px; 
    margin-bottom: 105px;
  }
  .work-process__video {
    position: absolute; 
    width: 682px; 
    height: 485px; 
    left: 0; 
    margin: 0;
  }

  .work-process__video img {height: 100%;}

  .work-process__heading {
    flex-direction: column; 
    align-items: flex-start; 
    width: 100px;
    margin-top: 30px;
  }
  
  .work-process__heading span {margin-top: 30px;}
  .good {flex-direction: column;}
  .catalog__row {margin-bottom: 55px;}

}