html {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
*, *::before, *::after {box-sizing: inherit;}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

button {all: unset;}

input {margin: 0; padding: 0; background-color: inherit;}
input:focus {outline: none;}

img{display: block;}