.rewiews {
  @extend %flex-col;
  @extend %p30px;
  position: relative;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 5px;
    right: 0;
    left: 0;
    bottom: -35px;
    background-image: url(img/zigzag.svg);
    background-repeat: repeat-x;
    background-position: center;
  }
}

.rewiews__description {
  @extend %m0p0;
}

.rewiews__text {
  @extend %m0p0;
  @extend %s-t-c;
  @extend %mb30px;
  line-height: 30px;
}

.rewiews__author {
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.rewiews__nickname {
  display: block;
  @extend %s-t-c;
  @extend %mb30px;
}

.rewiews__toggle-btns {
  @extend %mb30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 52px;
  border: 1px solid #ececec;
  
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #ececec;
  }
}

.rewiews__toggle {
  width: 50%;
  height: inherit;
  @extend %flex-cntr;
  cursor: pointer;
  transition: all ease 0.3s;
  
  &:hover,
  &:focus {opacity: 0.6;}

  &:active {opacity: 0.3;}
}

.rewiews__arrow {
  position: relative;
  display: block;
  width: 45px;
  height: 4px;
  background-color: black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 15px;
    background-color: black;
  }
}

.rewiews__arrow--back {
  &::before {
    top: -9.5px;
    left: 2px;
    transform: rotate(45deg);
  }
  &::after {
    top: -1.5px;
    left: 2px;
    transform: rotate(-45deg);
  }
}
.rewiews__arrow--forward {
  &::before {
    top: -9.5px;
    right: 2px;
    transform: rotate(-45deg);
  }
  &::after {
    top: -1.5px;
    right: 2px;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 768px) {
  .rewiews {
    justify-content: center;
    height: 457px;
    background-image: url(img/bg-rewievs.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 90px;

    &::after {
      height: 16px;
      bottom: -50px;
      background-image: url(img/zigzag-big.svg);
    }
  }
  
  .rewiews__heading {margin-bottom: 50px;}
  .rewiews__text {font-size: 17px; margin-bottom: 50px;}
  .rewiews__nickname {margin-bottom: 0;}
  .rewiews__btn,
  .rewiews__toggle-btns {position: absolute;}

  .rewiews__btn {
    width: 175px;
    right: 0;
    top: 70px;
  }
  .rewiews__toggle-btns {
    width: 140px;
    right: 20px;
    bottom: 60px;
    margin-bottom: 0;
    border: none;
    
    &::after {display: none;}
  }
}

@media screen and (min-width: 1250px) {
  .rewiews {
    padding-left: 275px;
    padding-right: 100px;
    background-position: 100px;
  }
  .rewiews::after {
      height: 24px;
      left: 100px;
      right: 100px;
    }
  .rewiews__btn {right: 100px;}
  .rewiews__toggle-btns {right: 120px;}
}